version: '3.8'

services:
  # --- SERVICIO DEL SERVIDOR ---
  honey-server:
    # Le decimos: "Construye usando el Dockerfile que está en esta carpeta"
    build: 
      context: ./honeyTokens-server
      dockerfile: Dockerfile
    container_name: honey-server
    # Mapeamos el puerto 8081 de tu Mac al 8081 de Docker
    ports:
      - "8081:8081"
    environment:
      # Variable para que el Server sepa qué URL poner en el Token (para la víctima)
      - APP_PUBLIC_DOMAIN=http://localhost:8081
      - KEY=${SENDGRID_KEY}

  # --- SERVICIO DE LA CLI ---
  honey-cli:
    build: 
      context: ./honeyTokens-cli
      dockerfile: Dockerfile
    container_name: honey-cli
    # Le decimos: "No arranques hasta que el server esté listo"
    depends_on:
      - honey-server
    # ESTO ES VITAL: Mantiene la terminal abierta para que puedas escribir
    stdin_open: true 
    tty: true
    environment:
      # Variable para que la CLI sepa dónde encontrar al Server dentro de Docker
      - SERVER_URL=http://honey-server:8081
    volumes:
      # Lado Izquierdo (Tu PC) : Lado Derecho (La ruta de tu clase FileSaver)
      - ./generated:/app/generated  